<div class="row">
  <div class="col col-lg-6">
    <div class="card border-primary mb-3">
      <div class="card-header">
        <h1>Editing Staff</h1>
      </div>
      <div class="card-body">
        <%= render 'form', staff: @staff %>
      </div>
      <div class="card-footer">
        <%= link_to 'Show', @staff %> |
        <%= link_to 'Back', staffs_path %>
      </div>
    </div>
  </div>
</div>
