<p id="notice"><%= notice %></p>

<h1>Bill Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="bill_items">
    <%= render @bill_items %>
  </tbody>
</table>

<br>
<%= render 'form', bill_item: @bill_item %>
<br>

<%= link_to 'New Bill Item', new_bill_item_path %>
